<div class="container mt-10 tasks-container">
  <div class="row mt-10">
    <div class="col-12">
      <button
        id="newTaskBtn"
        type="button"
        class="btn btn-success"
        (click)="prepareCreate()"
        data-toggle="modal"
        data-target="#taskDetailModal"
      >
        New Task
      </button>
    </div>
  </div>

  <div class="row mt-10">
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Description</th>
            <th scope="col">Done</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let task of tasks; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ task.id }}</td>
            <td>{{ task.description }}</td>
            <td>
              <div class="form-group">
                <div class="custom-control custom-switch">
                  <input
                    id="doneStatusInput{{i}}"
                    name="done"
                    class="custom-control-input"
                    type="checkbox"
                    (change)="handleDoneChange(task, $event.target.checked)"
                    [checked]="task.done"
                  />
                  <label class="custom-control-label" for="doneStatusInput{{i}}"></label>
                </div>
              </div>
            </td>

            <td>
              <button
                type="button"
                class="btn btn-primary"
                (click)="handleSelect(task)"
                data-toggle="modal"
                data-target="#taskDetailModal"
              >
                Edit
              </button>

              <button type="button" class="btn btn-danger ml-10" (click)="askDelete(task)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="taskDetailModal" tabindex="-1" aria-labelledby="taskDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="taskDetailModalLabel">{{ generateModalTitle() }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="taskDetailForm" (ngSubmit)="handleSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="description">Description: </label>
            <input id="description" class="form-control" type="text" name="description" formControlName="description" />
          </div>
        </div>
        
        <div class="modal-footer">
          <button id="closeModalBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>